## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [93]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [94]:
# Your code here
sample_list_1=random.sample(range(101), k=80)

print(sample_list_1)

#randomlist = []
#for i in range(0,80):
#n = random.randint(1,30)
#randomlist.append(n)
#print(randomlist)

[18, 29, 87, 58, 38, 84, 39, 60, 95, 63, 23, 3, 46, 15, 8, 19, 88, 12, 99, 20, 42, 45, 96, 91, 27, 78, 31, 70, 61, 57, 90, 66, 53, 64, 44, 35, 33, 85, 28, 79, 98, 36, 11, 14, 69, 72, 43, 2, 17, 94, 4, 25, 77, 37, 82, 49, 73, 5, 10, 92, 62, 52, 100, 41, 83, 40, 48, 32, 47, 22, 80, 55, 76, 51, 71, 97, 81, 34, 59, 1]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [95]:
# Your code here
set1=set(sample_list_1)
print(set1)
len(set1)
#yes

{1, 2, 3, 4, 5, 8, 10, 11, 12, 14, 15, 17, 18, 19, 20, 22, 23, 25, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 66, 69, 70, 71, 72, 73, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [96]:
# Your code here

sample_list_2 = []
for i in range(0,80):
    n = random.randint(0,100)
    sample_list_2.append(n)
print(sample_list_2)
len(sample_list_2)

[16, 25, 75, 44, 30, 58, 22, 100, 97, 82, 34, 42, 41, 91, 72, 24, 1, 11, 64, 71, 44, 36, 85, 18, 11, 8, 61, 65, 78, 25, 59, 54, 1, 94, 12, 11, 8, 0, 100, 22, 94, 87, 19, 96, 47, 10, 55, 33, 34, 60, 52, 44, 47, 77, 89, 11, 54, 97, 6, 73, 36, 73, 28, 20, 91, 54, 57, 30, 23, 67, 8, 83, 70, 87, 94, 34, 57, 34, 52, 94]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [97]:
# Your code here
set2=set(sample_list_2)
print(set2)
len(set2)
#NO

{0, 1, 6, 8, 10, 11, 12, 16, 18, 19, 20, 22, 23, 24, 25, 28, 30, 33, 34, 36, 41, 42, 44, 47, 52, 54, 55, 57, 58, 59, 60, 61, 64, 65, 67, 70, 71, 72, 73, 75, 77, 78, 82, 83, 85, 87, 89, 91, 94, 96, 97, 100}

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [98]:
# Your code here
set1 - set2

set3 = set1 - set2

set3

#len(set3)

{2,
 3,
 4,
 5,
 14,
 15,
 17,
 27,
 29,
 31,
 32,
 35,
 37,
 38,
 39,
 40,
 43,
 45,
 46,
 48,
 49,
 51,
 53,
 62,
 63,
 66,
 69,
 76,
 79,
 80,
 81,
 84,
 88,
 90,
 92,
 95,
 98,
 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [99]:
# Your code here
set4 = set2 - set1

set4

{0, 6, 16, 24, 30, 54, 65, 67, 75, 89}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [100]:
# Your code here
set5=set1 and set2
set5

len(set5)

52

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [101]:
# Your code here
lenghts=[len(set1), len(set2), len(set3), len(set4), len(set5)]
print(lenghts)
print(max(lenghts))
print(min(lenghts))

[80, 52, 38, 10, 52]
80
10

#### Create an empty set called `set6`.

In [102]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [103]:
# Your code here
set6.update(set3)
set6.update(set5)
set6
print(len(set6))

90

#### Check if `set1` and `set6` are equal.

In [104]:
# Your code here
set1==set6
#no

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [105]:
# Your code here
set1.issubset(set2)

False

In [106]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [107]:
# Your code here
set7=set()
set8=set()
print(type(set7))

set7=set7.union(set3, set4, set5)
set8=set8.union(set1, set2)

print(set7)
print(len(set7))
print(set8)
print(len(set8))

set7==set8

#yes

<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}
90
{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}
90

True

#### Using the `pop` method, remove the first element from `set1`.

In [108]:
# Your code here
print(set1.pop())

#there s no fixed order in set ???

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [109]:
# Your code here

set9=set1.copy()

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_to_remove = set(list_to_remove)

set11=set9 - set_to_remove

print(set11)

{2, 3, 4, 5, 8, 10, 12, 14, 15, 17, 18, 20, 22, 23, 25, 27, 28, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 57, 58, 60, 62, 63, 64, 66, 70, 72, 73, 76, 77, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 94, 95, 96, 97, 98, 100}